.fuck-wordpress-container {
    width: 500px;
    /* height: 500px; */
    height: fit-content;
    background-color: #E4E4E4;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border: 5px solid black;
}

.bg-fwp {
    position: relative;
}

.bg-fwp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../../public/fwp.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}

@media (max-width: 768px) {
    .fuck-wordpress-container {
        width: 90%;
    }
}