.announcement { 
    font-size: 1.2rem; 
    margin-bottom: 3rem; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto;
}

.social-links img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px; 
    /* margin-right: 10px;  */
    transition: transform 0.3s ease;
}

.social-links {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.contact-item .icon img {
    width: 35px !important;
    height: 35px !important;
}