:root {
    --color-gestionale-energy: #6567e8;
    --color-listshot: #6567e8;
}

/* Projects Section */
.projects-section {
    padding: 8rem 0;
    background: var(--white);
    background: linear-gradient(135deg, var(--warm-cream), var(--light-sage));
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 3rem;
}

.project-card {
    background: var(--white);
    border-radius: 20px;
    transform: translate(0);
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(44, 62, 80, 0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    height: 200px;
    /* background: linear-gradient(45deg, var(--soft-blue), var(--sage-green)); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--white);
}

.project-content {
    padding: 2rem;
}

.project-content h3 {
    color: var(--charcoal);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-content p {
    color: var(--neutral-grey);
    margin-bottom: 1.5rem;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.listshot,
.gestionale-energy {
    position: relative;
}

.listshot::before,
.gestionale-energy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    z-index: -1;
}

.listshot::before {
    background: linear-gradient(355deg,rgba(252, 187, 4, 1) 0%, rgba(111, 112, 191, 1) 50%, rgba(101, 103, 232, 1) 100%);
}

.gestionale-energy::before {
    background: linear-gradient(355deg,rgba(92, 102, 97, 1) 0%, rgba(98, 130, 114, 1) 50%, rgba(84, 148, 116, 1) 100%);
}

.project-type {
    font-size: 12px;   
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}