.projects-section {
    padding: 8rem 0;
    background: var(--white);
    background: linear-gradient(135deg, var(--warm-cream), var(--light-sage));
}

.single-project-section {
    /* margin: 40px 0; */
    /* border: 1px solid black; */
    border-radius: 20px;
}

.project-content {
    display: flex;
    gap: 20px;
    padding: 50px 20px;
    /* border: 2px solid var(--border-color); */
    border-radius: 10px;
    /* overflow: hidden; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-image-container {
    width: 500px;
}

/* .project-details p {
    
} */

.project-tech {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 10px;
}

.project-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: var(--sage-green);
    color: var(--warm-cream);
    text-decoration: none;
    transition: color .3s ease,
                background-color .3s ease;
    border-radius: 30px;
    border: 1px solid var(--light-sage);
    padding: 10px 20px;
}

.project-link:hover {
    /* color: var(--sage-green); */
    background-color: var(--light-sage);
    color: var(--sage-green);
}