:root {
    --bg-javascript: #ffd600;
    --bg-react: #5580bf;
    --bg-node: #24a464;
    --bg-next: #242424;
    --bg-mysql: #E46D04;
    --bg-mongodb: #13AA52;
    --bg-reactnative: #61DAFB;

    --bg-default: rgb(108, 117, 125);

    --percentage-lg-middle: 50%;
}

.image-tech {
    width: 25px;
    height: 25px;
}

.tech-tag {
    color: var(--deep-sage);
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    font-size: 0.8rem;
}

.bg-default {
    background-color: var(--bg-default);
    background: linear-gradient(-270deg, rgba(108, 117, 125, 1) 0%, rgba(108, 117, 125, 0.8) var(--percentage-lg-middle), rgba(108, 117, 125, 0.3) 100%);
}

.bg-js {
    /* border: 1px solid var(--bg-javascript); */
    background-color: var(--bg-javascript);
    background: linear-gradient(270deg, rgba(255, 248, 212, 1) 0%, rgba(255, 236, 143, 1) var(--percentage-lg-middle), rgba(255, 214, 0, 1) 100%);
}

.bg-react {
    /* border: 1px solid var(--bg-react); */
    background: var(--bg-react);
    background: linear-gradient(270deg, rgba(180, 183, 191, 1) 0%, rgba(140, 154, 189, 1) var(--percentage-lg-middle), rgba(85, 128, 191, 1) 100%);
}

.bg-node {
    /* border: 1px solid var(--bg-node); */
    background: var(--bg-node);
    background: linear-gradient(270deg, rgba(141, 168, 161, 1) 0%, rgba(95, 158, 126, 1) var(--percentage-lg-middle), rgba(36, 164, 100, 1) 100%);
} 

.bg-next {
    /* border: 1px solid var(--bg-next); */
    background: var(--bg-next);
    background: linear-gradient(270deg,rgba(214, 214, 214, 1) 0%, rgba(133, 133, 133, 1) var(--percentage-lg-middle), rgba(36, 36, 36, 1) 100%);
}

.bg-mysql {
    /* border: 1px solid var(--bg-mysql); */
    background: var(--bg-mysql);
    background: linear-gradient(270deg,rgba(230, 216, 204, 1) 0%, rgba(227, 164, 109, 1) var(--percentage-lg-middle), rgba(228, 109, 4, 1) 100%);
}

.bg-mongodb {
    /* border: 1px solid var(--bg-mongodb); */
    background: var(--bg-mongodb);
    background: linear-gradient(270deg,rgba(139, 179, 156, 1) 0%, rgba(80, 179, 121, 1) var(--percentage-lg-middle), rgba(19, 170, 82, 1) 100%);
}

.bg-reactnative {
    /* border: 1px solid var(--bg-reactnative); */
    background: var(--bg-reactnative);
    background: linear-gradient(270deg,rgba(218, 237, 242, 1) 0%, rgba(167, 226, 242, 1) var(--percentage-lg-middle), rgba(97, 218, 251, 1) 100%);
}