.wrapper-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.see-full-article {
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    font-size: large;
    color: var(--charcoal);
    border: 1px solid var(--deep-sage);
    border-radius: 10px;
    padding: 5px 7px;
    /* margin-top: 20px; */
    background-color: var(--warm-cream);
    transition: background-color .1s ease,
                color .1s ease;
}

/* .news-wrapper {
    border: 2px solid var(--black);
    height: fit-content;
    border-radius: 20px;
    margin-top: 20px;
} */

.news-image {
    border-radius: 19px 0px 0px 19px;
    width: 100%;
    height: fit-content;
    /* border-right: 2px solid var(--neutral-grey); */
    border-right: 2px solid var(--black);
}

.news-left-side {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: inherit; */
    border-radius: 8px 0px 0px 8px;
    border-right: 2px solid var(--black);
    border-bottom: none;
}

.news-right-side {
    padding: 10px;
}

.news-right-side span {
    font-size: small;
    font-weight: 200;
} 

.nexpose {
    animation: expose .5s ease-in-out;
}
.expose {
    animation: expose .5s ease-in-out;
}

@keyframes expose {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes nexpose {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    .wrapper-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .news-left-side {
        border-radius: 19px 19px 0 0;
        height: 150px;
        border-right: none;
        border-bottom: 2px solid var(--black);
    }
}