:root {
    --border-radius-btn-group: 10px;
    --border-radius-btn-group-firstchild: calc(var(--border-radius-btn-group) - 2px) 0 0 calc(var(--border-radius-btn-group) - 2px);
    --border-radius-btn-group-lastchild: 0 calc(var(--border-radius-btn-group) - 2px) calc(var(--border-radius-btn-group) - 2px) 0;
}

.switch-range {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    min-width: 120px;
    min-height: 30px;
    border-radius: var(--border-radius-btn-group);
    border: 2px solid var(--charcoal);
}

/** 2 colonne */
.buttons-2 > div:nth-child(2) {
    border-radius: var(--border-radius-btn-group-lastchild);
}

.buttons-2 > div:nth-child(1) {
    border-radius: var(--border-radius-btn-group-firstchild);
}

.buttons-2 > div:nth-child(-n+1) {
    /* background-color: aqua; */
    border-right: 1px solid var(--charcoal);
    /* background-color: var(--light-sage); */
}

/** 3 colonne */
.buttons-3 > div:nth-child(3) {
    border-radius: var(--border-radius-btn-group-lastchild);
}

.buttons-3 > div:nth-child(1) {
    border-radius: var(--border-radius-btn-group-firstchild);
}

.buttons-3 > div:nth-child(-n+2) {
    /* background-color: aqua; */
    border-right: 1px solid var(--charcoal);
    /* background-color: var(--light-sage); */
}

/** 4 colonne */
.buttons-4 > div:nth-child(4) {
    border-radius: var(--border-radius-btn-group-lastchild);
}

.buttons-4 > div:nth-child(1) {
    border-radius: var(--border-radius-btn-group-firstchild);
}

.buttons-4 > div:nth-child(-n+3) {
    /* background-color: aqua; */
    border-right: 1px solid var(--charcoal);
    /* background-color: var(--light-sage); */
}

/** 5 colonne */
.buttons-5 > div:nth-child(5) {
    border-radius: var(--border-radius-btn-group-lastchild);border-radius: 0 8px 8px 0;
}

.buttons-5 > div:nth-child(1) {
    border-radius: var(--border-radius-btn-group-firstchild);
}

.buttons-5 > div:nth-child(-n+4) {
    /* background-color: aqua; */
    border-right: 1px solid var(--charcoal);
    /* background-color: var(--light-sage); */
}

/** 6 colonne */
.buttons-6 > div:nth-child(6) {
    border-radius: var(--border-radius-btn-group-lastchild);
}

.buttons-6 > div:nth-child(1) {
    border-radius: var(--border-radius-btn-group-firstchild);
}

.buttons-6 > div:nth-child(-n+5) {
    /* background-color: aqua; */
    border-right: 1px solid var(--charcoal);
    /* background-color: var(--light-sage); */
}

.switch-range > div {
    background-color: var(--warm-cream);
    transition: background-color .3s ease,
                color .3s ease;
}

.switch-range p {
    padding: 0 4px;
}

.selected {
    background-color: var(--dust-blue) !important;
    color: var(--warm-cream);
}