/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  /* 
  OLD VERSION
  .sidebar {
    @apply m-[5px] w-[25%] bg-sidebarDark border-[4px] border-borderSidebarDark h-full rounded-xl p-[10px];
  } */
  
  /* .sidebar {
    @apply w-[25%] bg-sidebarDark h-full p-[10px];
  } */
  .avatar-entry {
    @apply col-span-2 p-[5px] pl-[20px];
  }
  .span-underline {
    @apply font-semibold underline decoration-neutral-100;
  }
  .divisor {
    @apply my-[40px] mx-[20px] 
  }
  .main-title {
    @apply mt-[100px] px-[300px] w-full h-[500px];
  }
  .main-title h1 {
    @apply text-2xl;
  }
  .main-title h2 {
    @apply text-7xl font-[900] text-sandy font-poppins;
  }
  .main-title h3 {
    @apply text-2xl font-[600] text-sandy-light font-poppins w-[700px];
  }
  .main-title h3 span {
    @apply font-[800] text-sandy-brown underline;
  }
  .tiny-menu {
    @apply w-[400px] h-[400px] bg-white absolute top-[10px] left-[-405px] rounded-[4px];
  }
  .current  {
    @apply w-full h-10 p-[10px] m-[20px] rounded-md;
  }
  .link {
     @apply font-[600] underline;
  }
  .current-eng {
    @apply w-full mt-[300px] px-[200px] h-[100px];
  }
  .current-eng h2 {
    @apply text-6xl font-bold text-sandy-brown; 
  }
  .current-eng p {
    @apply text-base font-[300] pt-[15px] leading-relaxed;
  }
}

:root {
  --background: #FFEAD6;
  --foreground: #160C44;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #160C44;
    --foreground: #FFEAD6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", serif;
  font-style: normal;
  overflow-x: hidden;
}

/* .font-roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} */

.avatar-entry h1 {
  font-size: 30px;
  font-weight: 500;
}

.avatar-entry h3 {
  font-size: 18px;
  font-weight: 300;
}

.rotating-svg {
  transform: rotate(55deg);
  display: inline-block;
  animation: rotate .5s ease-in forwards, fade .5s ease forwards;
}

.toggle-svg {
  display: inline-block;
  animation: fade .5s ease forwards;
}

.animate {
  animation: fade .5s ease-in forwards
}

@keyframes rotate {
  0% {
    transform: rotate(55deg);
  }
  100% {
    transform: rotate(305deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

